<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web App</title>
        <link rel="stylesheet" href="../static/css/styleConsult.css" type="text/css" media="all" />
        <script src="../static/js/appConsult.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
    <h1>Consultar Cliente</h1>
     
    <div class="consult">
    <label for="dni">DNI</label>
    <div class="input-group">
        <input type="number" id="dni" name="dni" required/>
        <button onClick="consult_client_id()">Buscar</button>
    </div>
</div>
    
    <div id="cliente-info" class="cliente-info"> </div>
</body>
</html>